src/test/resources/directory-listener-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <file:config name="file">
        <file:connection workingDir="${workingDir}"/>
    </file:config>

    <file:matcher name="matcher" filenamePattern="matchme.txt"/>

    <flow name="listenWithScheduler" initialState="stopped">
        <file:listener config-ref="file" directory="matcherless">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </file:listener>
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="listenWithoutMatcher">
        <file:listener config-ref="file" directory="matcherless">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </file:listener>
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="listenNonRecursive" initialState="stopped">
        <file:listener config-ref="file" directory="matcherless" recursive="false">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </file:listener>
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="redundantListener1">
        <file:listener config-ref="file" directory="shared" autoDelete="true">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </file:listener>
        <flow-ref name="onSharedFolderFile"/>
    </flow>

    <flow name="redundantListener2">
        <file:listener config-ref="file" directory="shared" autoDelete="true">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </file:listener>
        <flow-ref name="onSharedFolderFile"/>
    </flow>

    <flow name="listenTxtOnly">
        <file:listener config-ref="file" directory="withMatcher" matcher="matcher" autoDelete="true">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </file:listener>
        <set-payload value="Dr. Manhattan"/>
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="moveTo" initialState="stopped">
        <file:listener config-ref="file" directory="matcherless" moveToDirectory="#[vars.moveTo]">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </file:listener>
        <set-variable variableName="moveTo" value="shared"/>
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="moveToAndAutoDelete" initialState="stopped">
        <file:listener config-ref="file" directory="matcherless" moveToDirectory="#[vars.moveTo]" autoDelete="true">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </file:listener>
        <set-variable variableName="moveTo" value="shared"/>
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="moveToWithRename" initialState="stopped">
        <file:listener config-ref="file" directory="matcherless" moveToDirectory="#[vars.moveTo]" renameTo="#[vars.rename]">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </file:listener>
        <set-variable variableName="moveTo" value="shared"/>
        <set-variable variableName="rename" value="renamed.txt"/>
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="modifiedWatermark" initialState="stopped">
        <file:listener config-ref="file" directory="matcherless" autoDelete="false" watermarkMode="MODIFIED_TIMESTAMP">
            <scheduling-strategy>
                <fixed-frequency />
            </scheduling-strategy>
        </file:listener>
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="creationWatermark" initialState="stopped">
        <file:listener config-ref="file" directory="matcherless" autoDelete="false" watermarkMode="CREATED_TIMESTAMP">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </file:listener>
        <flow-ref name="onEvent"/>
    </flow>

    <sub-flow name="onEvent">
        <object-to-string-transformer/>
        <test:processor class="org.mule.extension.file.DirectoryListenerFunctionalTestCase$TestProcessor"/>
    </sub-flow>

    <sub-flow name="onSharedFolderFile">
        <test:processor waitTime="1000"/>
        <flow-ref name="onEvent"/>
    </sub-flow>
</mule>
