src/test/resources/directory-listener-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <file:config name="file">
        <file:connection workingDir="${workingDir}" />
    </file:config>

    <file:matcher name="matcher" filenamePattern="matchme.txt" />

    <flow name="listenWithoutMatcher">
        <file:listener config-ref="file" directory="matcherless" pollingFrequency="1" />
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="redundantListener1">
        <file:listener config-ref="file" directory="shared" autoDelete="true" pollingFrequency="1"/>
        <flow-ref name="onSharedFolderFile" />
    </flow>

    <flow name="redundantListener2">
        <file:listener config-ref="file" directory="shared" autoDelete="true" pollingFrequency="1"/>
        <flow-ref name="onSharedFolderFile" />
    </flow>

    <flow name="listenTxtOnly">
        <file:listener config-ref="file" directory="withMatcher" matcher="matcher" autoDelete="true" pollingFrequency="1"/>
        <set-payload value="Dr. Manhattan" />
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="moveTo" initialState="stopped">
        <file:listener config-ref="file" directory="matcherless" moveToDirectory="#[vars.moveTo]" pollingFrequency="1"/>
        <set-variable variableName="moveTo" value="shared" />
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="moveToWithRename" initialState="stopped">
        <file:listener config-ref="file" directory="matcherless" moveToDirectory="#[vars.moveTo]" renameTo="#[vars.rename]" pollingFrequency="1"/>
        <set-variable variableName="moveTo" value="shared" />
        <set-variable variableName="rename" value="renamed.txt" />
        <flow-ref name="onEvent"/>
    </flow>
    
    <flow name="modifiedWatermark" initialState="stopped">
        <file:listener config-ref="file" directory="matcherless" autoDelete="false" watermarkMode="MODIFIED_TIMESTAMP" pollingFrequency="1"/>
        <flow-ref name="onEvent"/>
    </flow>

    <flow name="creationWatermark" initialState="stopped">
        <file:listener config-ref="file" directory="matcherless" autoDelete="false" watermarkMode="CREATED_TIMESTAMP" pollingFrequency="1"/>
        <flow-ref name="onEvent"/>
    </flow>

    <sub-flow name="onEvent">
        <object-to-string-transformer />
        <test:processor class="org.mule.extension.file.DirectoryListenerFunctionalTestCase$TestProcessor"/>
    </sub-flow>
    
    <sub-flow name="onSharedFolderFile">
        <test:processor waitTime="1000" />
        <flow-ref name="onEvent" />
    </sub-flow>
</mule>
