src/test/resources/file-common-use-cases-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <file:config name="file">
        <file:connection workingDir="${workingDir}" />
    </file:config>

    <flow name="listAndDeleteFiles" maxConcurrency="100">
        <scheduler>
            <scheduling-strategy>
                <fixed-frequency frequency="20"/>
            </scheduling-strategy>
        </scheduler>
        <file:list directoryPath="input" config-ref="file"/>
        <foreach>
            <test:processor waitTime="100"/>
            <file:delete path="#[attributes.path]" config-ref="file"/>
        </foreach>
    </flow>
    
</mule>
