src/test/resources/file-write-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
      http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

    <import file="file-read-config.xml"/>

    <flow name="write">
        <file:write config-ref="file" path="#[vars.path]" mode="#[vars.mode]"
                    createParentDirectories="#[vars.createParent]"/>
    </flow>

    <flow name="writeStaticContent">
        <file:write config-ref="file" path="#[vars.path]" mode="#[vars.mode]"
                    createParentDirectories="#[vars.createParent]">
            <file:content>Hello World!</file:content>
        </file:write>
    </flow>

    <flow name="readAndWrite">
        <file:read config-ref="file" path="#[vars.path]"/>
        <set-payload value="Hello World!"/>
        <file:write config-ref="file" path="#[vars.path]" mode="OVERWRITE"/>
    </flow>

    <flow name="writeWithLock">
        <file:write config-ref="file" path="#[vars.path]" lock="true" mode="#[vars.mode]"
                    createParentDirectories="#[vars.createParent]"/>
    </flow>

    <flow name="writeFromStreamWithLock">
        <java:invoke-static class="org.mule.extension.file.integration.FileWriteTestCase" method="getContentStream()" />
        <file:write config-ref="file" path="#[vars.path]" lock="true" mode="#[vars.mode]"
                    createParentDirectories="#[vars.createParent]"/>
    </flow>

    <flow name="writeAlreadyLocked">
        <scatter-gather>
            <route>
                <flow-ref name="writeFromStreamWithLock"/>
            </route>
            <route>
                <flow-ref name="writeFromStreamWithLock"/>
            </route>
        </scatter-gather>
    </flow>
</mule>
