src/test/munit/file-read-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
      http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
      http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
      http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

    <munit:config name="file-read-test-case.xml">
    </munit:config>

    <file:config name="read-tests">
        <file:connection workingDir="${munit.temporary.directory}"/>
    </file:config>

    <munit:before-test name="createHelloWorldFile">
        <set-payload value="Hello World!"/>
        <file:write config-ref="read-tests" path="text.txt" mode="CREATE_NEW" createParentDirectories="false"/>
    </munit:before-test>

    <flow name="writeWithLockStrategy">
        <java:invoke-static class="org.mule.extension.file.integration.FileWriteTestCase" method="getContentStream(long)">
            <java:args>
                #[{arg0: 250}]
            </java:args>
        </java:invoke-static>
        <file:write config-ref="read-tests" path="text.txt" mode="APPEND" createParentDirectories="false">
            <file:lock-strategy>
                <file:with-lock/>
            </file:lock-strategy>
        </file:write>
    </flow>

    <flow name="readStreamWithLock">
        <file:read config-ref="read-tests" path="text.txt">
            <file:lock-strategy>
                <file:with-lock/>
            </file:lock-strategy>
        </file:read>
    </flow>

    <munit:test name="readWithLock">
        <munit:execution>
            <flow-ref name="readStreamWithLock"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-equals actual="#[payload]" expected="Hello World!"/>
        </munit:validation>
    </munit:test>

    <munit:test name="readWithLockOnLockedFileFails">
        <munit:execution>
            <try>
                <scatter-gather>
                    <route>
                        <flow-ref name="writeWithLockStrategy"/>
                    </route>
                    <route>
                        <set-variable variableName="sleepThread" value="#[%dw 2.0 import * from dw::Runtime output application/json --- {} wait 100]" />
                        <flow-ref name="readStreamWithLock"/>
                    </route>
                </scatter-gather>
                <error-handler>
                    <on-error-continue type="COMPOSITE_ROUTING">
                        <set-payload value="#[error.cause]"/>
                    </on-error-continue>
                </error-handler>
            </try>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-equals actual="#[payload.errors[0].errorType.namespace]" expected="FILE"/>
            <munit-tools:assert-equals actual="#[payload.errors[0].errorType.identifier]" expected="FILE_LOCK"/>
            <munit-tools:assert-that expression="#[payload.errors[0].description]" is="#[MunitTools::matches('Could not lock file.*for the operation because it was already locked by another process.')]"/>
        </munit:validation>
    </munit:test>

    <munit:test name="readWithLockTimeout">
        <munit:execution>
            <file:read config-ref="read-tests" path="text.txt">
                <file:lock-strategy>
                    <file:with-lock lockTimeout="100"/>
                </file:lock-strategy>
            </file:read>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-equals actual="#[payload]" expected="Hello World!"/>
        </munit:validation>
    </munit:test>

    <munit:test name="readWithLockTimeoutAndUnit">
        <munit:execution>
            <file:read config-ref="read-tests" path="text.txt">
                <file:lock-strategy>
                    <file:with-lock lockTimeout="2" lockTimeoutUnit="SECONDS"/>
                </file:lock-strategy>
            </file:read>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-equals actual="#[payload]" expected="Hello World!"/>
        </munit:validation>
    </munit:test>

    <munit:test name="readWithLockTimeoutOnLockedFile">
        <munit:execution>
            <scatter-gather>
                <route>
                    <flow-ref name="writeWithLockStrategy"/>
                </route>
                <route>
                    <set-variable variableName="sleepThread" value="#[%dw 2.0 import * from dw::Runtime output application/json --- {} wait 100]" />
                    <file:read config-ref="read-tests" path="text.txt">
                        <file:lock-strategy>
                            <file:with-lock lockTimeout="30" lockTimeoutUnit="SECONDS"/>
                        </file:lock-strategy>
                    </file:read>
                </route>
            </scatter-gather>
        </munit:execution>
        <munit:validation>
            <file:read config-ref="read-tests" path="text.txt"/>
            <munit-tools:assert-equals actual="#[payload]" expected="Hello World!Hello World!"/>
        </munit:validation>
    </munit:test>

    <munit:test name="readWithShortLockTimeoutOnLockedFileFails">
        <munit:execution>
            <try>
                <scatter-gather>
                    <route>
                        <flow-ref name="writeWithLockStrategy"/>
                    </route>
                    <route>
                        <set-variable variableName="sleepThread" value="#[%dw 2.0 import * from dw::Runtime output application/json --- {} wait 100]" />
                        <file:read config-ref="read-tests" path="text.txt">
                            <file:lock-strategy>
                                <file:with-lock lockTimeout="1" lockTimeoutUnit="SECONDS"/>
                            </file:lock-strategy>
                        </file:read>
                    </route>
                </scatter-gather>
                <error-handler>
                    <on-error-continue type="COMPOSITE_ROUTING">
                        <set-payload value="#[error.cause]"/>
                    </on-error-continue>
                </error-handler>
            </try>
        </munit:execution>
        <munit:validation>
            <logger level="ERROR" message="#[payload.errors[0]]"/>
            <munit-tools:assert-equals actual="#[payload.errors[0].errorType.namespace]" expected="FILE"/>
            <munit-tools:assert-equals actual="#[payload.errors[0].errorType.identifier]" expected="FILE_LOCK"/>
            <munit-tools:assert-that expression="#[payload.errors[0].description]" is="#[MunitTools::matches('Could not lock file.*for the operation because it remained locked by another process for the.*milliseconds timeout.')]"/>
        </munit:validation>
    </munit:test>

</mule>