src/test/munit/file-read-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
      http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
      http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
      http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

    <munit:config name="file-read-test-case.xml">
    </munit:config>

    <file:config name="read-tests">
        <file:connection workingDir="${munit.temporary.directory}"/>
    </file:config>

    <munit:before-test name="createHelloWorldFile">
        <set-payload value="Hello World!"/>
        <file:write config-ref="read-tests" path="text.txt" mode="CREATE_NEW" createParentDirectories="false"/>
    </munit:before-test>

    <flow name="writeWithLockStrategy">
        <java:invoke-static class="org.mule.extension.file.integration.FileWriteTestCase"
                            method="getContentStream()"/>
        <file:write config-ref="read-tests" path="text.txt" mode="APPEND" createParentDirectories="false">
            <file:lock-strategy>
                <file:with-lock/>
            </file:lock-strategy>
        </file:write>
    </flow>

    <flow name="readStreamWithLock">
        <file:read config-ref="read-tests" path="text.txt">
            <non-repeatable-stream/>
            <file:lock-strategy>
                <file:with-lock/>
            </file:lock-strategy>
        </file:read>
    </flow>

    <munit:test name="readWithLock">
        <munit:execution>
            <flow-ref name="readStreamWithLock"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-equals actual="#[payload]" expected="Hello World!"/>
        </munit:validation>
    </munit:test>

    <munit:test name="readWithLockOnLockedFile">
        <munit:execution>
            <try>
                <scatter-gather>
                    <route>
                        <flow-ref name="writeWithLockStrategy"/>
                    </route>
                    <route>
                        <java:invoke-static class="org.mule.extension.file.integration.FileWriteTestCase"
                                            method="sleepThread(int)">
                            <java:args>
                                #[{arg0: 200}]
                            </java:args>
                        </java:invoke-static>
                        <flow-ref name="readStreamWithLock"/>
                    </route>
                </scatter-gather>
                <error-handler>
                    <on-error-continue type="COMPOSITE_ROUTING">
                        <set-payload value="#[error.cause]"/>
                    </on-error-continue>
                </error-handler>
            </try>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-equals actual="#[payload.errors[0].errorType.namespace]" expected="FILE"/>
            <munit-tools:assert-equals actual="#[payload.errors[0].errorType.identifier]" expected="FILE_LOCK"/>
        </munit:validation>
    </munit:test>

    <munit:test name="readWithLockTimeout">
        <munit:execution>
            <file:read config-ref="read-tests" path="text.txt">
                <non-repeatable-stream/>
                <file:lock-strategy>
                    <file:with-lock lockTimeout="100"/>
                </file:lock-strategy>
            </file:read>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-equals actual="#[payload]" expected="Hello World!"/>
        </munit:validation>
    </munit:test>

    <munit:test name="readWithLockTimeoutAndUnit">
        <munit:execution>
            <file:read config-ref="read-tests" path="text.txt">
                <non-repeatable-stream/>
                <file:lock-strategy>
                    <file:with-lock lockTimeout="5000" lockTimeoutUnit="NANOSECONDS"/>
                </file:lock-strategy>
            </file:read>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-equals actual="#[payload]" expected="Hello World!"/>
        </munit:validation>
    </munit:test>

    <munit:test name="readWithLockTimeoutOnLockedFile">
        <munit:execution>
            <scatter-gather>
                <route>
                    <flow-ref name="writeWithLockStrategy"/>
                </route>
                <route>
                    <java:invoke-static class="org.mule.extension.file.integration.FileWriteTestCase"
                                        method="sleepThread(int)">
                        <java:args>
                            #[{arg0: 500}]
                        </java:args>
                    </java:invoke-static>
                    <file:read config-ref="read-tests" path="text.txt">
                        <non-repeatable-stream/>
                        <file:lock-strategy>
                            <file:with-lock lockTimeout="30" lockTimeoutUnit="SECONDS"/>
                        </file:lock-strategy>
                    </file:read>
                </route>
            </scatter-gather>
        </munit:execution>
        <munit:validation>
            <file:read config-ref="write-tests" path="text.txt"/>
            <munit-tools:assert-equals actual="#[payload]" expected="Hello World!Hello World!"/>
        </munit:validation>
    </munit:test>

</mule>