src/test/munit/utils.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">

    <flow name="wait-2-seconds">
        <logger level="ERROR" message="#[%dw 2.0 import * from dw::Runtime output application/json
                            ---
                            'Waiting for 2 seconds' wait 2000]"/>
    </flow>

    <flow name="modify-file">
        <set-payload value="Content to apend"/>
        <file:write config-ref="file-config" path="random.txt" mode="APPEND"/>
    </flow>


    <flow name="write-file">
        <set-payload value="File Content"/>
        <file:write config-ref="file-config" path="random.txt"/>
    </flow>

</mule>